# GUI & Styling
PyQt6==6.10.2
pyqt6_sip==13.10.2

# Core & Math
numpy==2.4.3
scipy==1.17.1
pandas==3.0.1
networkx==3.6.1

# Geo-Processing
laspy==2.6.1
rasterio==1.4.4
pyproj==3.7.2
shapely==2.1.2

# 3D & Meshing
open3d==0.19.0
pymeshlab==2025.7
trimesh==4.11.0
vispy==0.16.1
mapbox-earcut==2.0.0
triangle==20250106

# Visualization & System
matplotlib==3.10.8
psutil==7.2.1
tqdm==4.67.1

# Installer for compiling app
pyinstaller==6.19.0